---
layout: default
title: Home
---

<section
  id="main"
  class="bg__inverse border border-white-darkest border-t-0 border-l-0 border-r-0"
>
  <div class="w-11/12 max-w-6xl m-auto pb-20 pt-3 lg:w-9/12">
    <h1 class="text-4xl mb-1 lg:text-5xl">
      {{site.main.header}}
    </h1>
    <p class="text-xl text-gray-lighter mb-8 lg:mb-18">
      {{site.main.subheader}}
    </p>
    {% if site.main.show_app_store_badge or site.main.show_mac_app_badge %}
      <div class="flex flex-row mb-8">
        {% if site.main.show_app_store_badge %}
          <a class="mr-4" href="{{site.main.mac_app_store}}">
            <img
              class="h-12 w-auto"
              src="/assets/svg/mac-app-store.svg"
              alt="Mac App Store"
            />
          </a>
        {% endif %}
        {% if site.main.show_mac_app_badge %}
          <a href="{{site.main.apple_app_store}}">
            <img
              class="h-12 w-auto"
              src="/assets/svg/app-store.svg"
              alt="App Store"
            />
          </a>
        {% endif %}
      </div>
    {% endif %}
    {% if site.main.show_subscription %}
      {% include subscription-form.html %}
      <p class=" text-gray-lighter ">
        {{site.main.subscription_message}}
      </p>
    {% endif %}
  </div>
</section>
<section
  class="border border-white-darkest border-b-1 border-t-0 border-l-0 border-r-0 pt-8 lg:pt-16"
>
  <div class="w-11/12 max-w-6xl m-auto mb-8 lg:mb-12 lg:w-9/12 lg:px-16">
    <div class="flex flex-wrap">
      <div class="w-full mb-8 lg:w-1/2 lg:mb-0">
        <h2 class="text-3xl mb-4">{{site.overview.summary_1.header}}</h2>
        <p>
          {{site.overview.summary_1.description}}
        </p>
      </div>
      <div class="w-full lg:w-1/2">
        <h2 class="text-3xl mb-4">{{site.overview.summary_2.header}}</h2>
        <p>
          {{site.overview.summary_2.description}}
        </p>
      </div>
    </div>
  </div>
  <div class="relative previews overflow-hidden m-auto">
    <img
      class="absolute z-30 previews__watch"
      src="{{site.overview.previews.watch}}"
      alt="Watch Preview"
    />
    <img
      class="absolute z-20 previews__mobile"
      src={{site.overview.previews.phone}}
      alt="Mobile Preview"
    />
    <img
      class="absolute left-0 z-10 previews__desktop hidden md:block"
      src={{site.overview.previews.desktop}}
      alt="Desktop Preview"
    />
    <img
      class="absolute right-0 previews__ipad hidden md:block"
      src="{{site.overview.previews.tablet}}"
      alt="Tablet Preview"
    />
  </div>
</section>
<section
  class="border border-white-darkest border-b-1 border-t-0 border-l-0 border-r-0 bg__inverse py-8 lg:py-16"
>
  <div class="w-11/12 max-w-6xl m-auto">
    <h2 class="text-3xl mb-12 text-left lg:text-center">{{site.preview.header}}</h2>
    <div class="flex justify-center">
      <iframe
        class="previews__video w-full md:w-10/12"
        src="{{site.preview.link}}"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
<section
  id="features"
  class="border border-white-darkest border-b-1 border-t-0 border-l-0 border-r-0 py-8 lg:py-16"
>
  <div class="w-11/12 max-w-6xl m-auto lg:w-10/12">
    <div class="flex flex-wrap items-center">
      <div class="w-full order-last lg:w-3/5 lg:order-none">
        <img class="h-auto w-11/12" src="{{site.feature_1.preview}}" alt="" />
      </div>
      <div class="w-full mb-8 lg:w-2/5 lg:mb-0">
        <h2 class="text-3xl mb-4">{{site.feature_1.header}}</h2>
        <p>
          {{site.feature_1.description}}
        </p>
      </div>
    </div>
  </div>
</section>
<section
  class="border border-white-darkest border-b-1 border-t-0 border-l-0 border-r-0 bg__inverse py-8 lg:py-16"
>
  <div class="w-11/12 max-w-6xl m-auto lg:w-9/12">
    <div class="mb-8 text-left lg:text-center">
      <h2 class="text-3xl mb-4">{{site.feature_2.header}}</h2>
      <p>
        {{site.feature_2.description}}
      </p>
    </div>
    <img src="{{site.feature_2.preview}}" alt="" />
  </div>
</section>
<section
  class="border border-white-darkest border-b-1 border-t-0 border-l-0 border-r-0 bg__inverse py-8 lg:py-16"
>
  <div class="w-11/12 max-w-6xl m-auto">
    <div class="flex flex-wrap items-center text-left">
      <div class="w-full order-last lg:w-3/5 lg:order-none">
        <img class="h-auto w-11/12" src="{{site.feature_3.preview}}" alt="" />
      </div>
      <div class="w-full mb-8 lg:w-2/5 lg:mb-0">
        <h2 class="text-3xl mb-4">{{site.feature_3.header}}</h2>
        <p>
          {{site.feature_3.description}}
        </p>
      </div>
    </div>
  </div>
</section>
<section
  class="border border-white-darkest border-b-1 border-t-0 border-l-0 border-r-0 bg__inverse py-8 lg:py-16"
>
  <div class="w-11/12 max-w-6xl m-auto lg:w-9/12">
    <h2 class="text-3xl mb-10 text-left lg:text-center">
      {{site.features_overview.header}}
    </h2>
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/2">
        <ul class="list px-6 lg:px-8">
          {% for feature in site.features_overview.feature_set_1 %}
            <li class="mb-3">
              <span class="text-black">{{feature}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="w-full lg:w-1/2">
        <ul class="list text-primary px-6 text-left lg:px-8">
          {% for feature in site.features_overview.feature_set_2 %}
            <li class="mb-3">
              <span class="text-black">{{feature}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<section
  id="pricing"
  class="border border-white-darkest border-b-1 border-t-0 border-l-0 border-r-0 py-8 lg:py-16"
>
  <div class="w-11/12 max-w-6xl m-auto text-left lg:text-center lg:w-9/12">
    <h2 class="text-3xl mb-4">{{site.pricing.header}}</h2>
    <p>{{site.pricing.description}}</p>
  </div>
</section>
<section
  id="community"
  class="border border-white-darkest border-b-1 border-t-0 border-l-0 border-r-0 bg__inverse py-8 lg:py-16"
>
  <div class="w-11/12 max-w-6xl m-auto text-center lg:w-9/12">
    <div class="mb-16">
      <h2 class="text-3xl mb-4">{{site.social_media.header}}</h2>
      <p>{{site.social_media.subheader}}</p>
    </div>
    <div class="flex flex-wrap">
      {% for social in site.social_media.links %}
        <div class="w-full text-center mb-12 lg:w-4/12 lg:mb-0 lg:px-4">
          <div class="flex justify-center mb-4">
            <img class="h-30 w-30" src="{{social.img}}" alt="Logo" />
          </div>
          <h3 class="text-2xl mb-3">{{social.title}}</h3>
          <p>{{social.subtitle}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% if site.subscription %}
  <section
    class="border border-white-darkest border-b-1 border-t-0 border-l-0 border-r-0 py-8 lg:py-16"
  >
    <div class="w-11/12 max-w-6xl m-auto text-left lg:text-center lg:w-8/12">
      <h2 class="text-3xl ">{{site.subscription.header}}</h2>
      <div class="mt-12 mb-8">
        {% include subscription-form.html %}
      </div>
      <p class="text-gray-lighter text-left lg:text-center">
        {{site.subscription.message}}
      </p>
    </div>
  </section>
{% endif %}
{% if site.footer.show_resources or site.footer.show_links %}
  <footer class="bg__inverse">
    <div class="w-11/12 max-w-6xl m-auto lg:w-9/12">
      <div class="flex flex-row flex-wrap py-8">
        <div class="w-full lg:w-1/2">
          {% if site.footer.show_resources %}
            <p class="mb-4 text-center lg:text-left">{{site.footer.resources.title}}</p>
            <ul>
              {% for resource in site.footer.resources.links %}
              <li class="flex flex-row items-center mb-1">
                <svg
                  class="text-primary"
                  width="14"
                  height="14"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g fill="none" fill-rule="evenodd">
                    <path
                      d="M6.564 5.57h0c-.627-.568-.187-1.986.968-3.154l.965-.975a2.905 2.905 0 014.186.038l-.119-.123a3.02 3.02 0 01-.067 4.254l-.875.851c-1.186 1.155-3.07 1.111-3.148 1.028h0"
                    />
                    <path d="M4 10l6-6" stroke-linecap="square" />
                    <path
                      d="M5.5 6.5h0c-.555-.552-1.958-.063-3.138 1.094l-.87.853a2.88 2.88 0 00.037 4.162l-.025-.024a2.969 2.969 0 004.217-.118l.733-.782c1.13-1.207 1.1-3.131 1.046-3.185h0"
                    />
                  </g>
                </svg>
                <a class="ml-2 hover:text-primary" href="{{resource.link}}"
                  >{{resource.title}}</a
                >
              </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="w-full text-center mt-8 lg:w-1/2 lg:text-right lg:mt-0">
          {% if site.footer.show_links %}
            <ul class="mb-4">
              {% for data in site.footer.links %}
              <li class="inline-block mr-6">
                <a class="text-primary" href="{{data.link}}">{{data.title}}</a>
              </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </footer>
{% endif %}
