<div class="bg__inverse">
  <header class="w-9/12 max-w-6xl m-auto">
    <nav class="flex flex-row items-center py-8">
      <a class="mr-8" href="">
        <img
          class="rounded h-12 w-12"
          src="/assets/img/growth-stock.png"
          alt="logo"
        />
      </a>
      <ul class="flex flex-row">
        <li
          class="text-gray-darker border border-primary border-t-0 border-l-0 border-r-0 border-b-2 uppercase text-gray mr-8 font-semibold"
        >
          <a href="">Growth Stock</a>
        </li>
        <li
          class="uppercase text-gray-lighter mr-8 hover:text-gray-darker font-semibold"
        >
          <a href="">
            Features
          </a>
        </li>
        <li
          class="uppercase text-gray-lighter mr-8 hover:text-gray-darker font-semibold"
        >
          <a href="">Community</a>
        </li>
        <li
          class="uppercase text-gray-lighter mr-8 hover:text-gray-darker font-semibold"
        >
          <a href="">
            Pricing
          </a>
        </li>
        <li
          class="uppercase text-gray-lighter mr-8 hover:text-gray-darker font-semibold"
        >
          <a href="">
            FAQ
          </a>
        </li>
        <li class="uppercase text-gray-lighter mr-8 hover:text-gray-darker">
          <a
            class="uppercase text-gray-lighter mr-8 hover:text-gray-darker font-semibold"
            href=""
          >
            Blog
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>
