<div class="bg__inverse">
  <header class="w-11/12 max-w-6xl overflow-y-auto m-auto lg:w-9/12">
    <nav class="flex flex-row items-center pt-8 pb-6 lg:py-8">
      <a class="flex-shrink-0" href="/">
        <img
          class="rounded h-12 w-12"
          src="/assets/img/growth-stock.png"
          alt="logo"
        />
      </a>
      <ul class="flex flex-row">
        <li
          class="text-gray-darker border border-primary border-t-0 border-l-0 border-r-0 border-b-2 uppercase text-gray mx-8 font-semibold whitespace-no-wrap"
        >
          <a href="/">Growth Stock</a>
        </li>
        <li
          class="uppercase text-gray-lighter mr-8 hover:text-gray-darker font-semibold whitespace-no-wrap"
        >
          <a href="/#features">
            Features
          </a>
        </li>
        <li
          class="uppercase text-gray-lighter mr-8 hover:text-gray-darker font-semibold whitespace-no-wrap"
        >
          <a href="/#community">Community</a>
        </li>
        <li
          class="uppercase text-gray-lighter mr-8 hover:text-gray-darker font-semibold whitespace-no-wrap"
        >
          <a href="/#pricing">
            Pricing
          </a>
        </li>
        <li
          class="uppercase text-gray-lighter mr-8 hover:text-gray-darker font-semibold whitespace-no-wrap"
        >
          <a href="/faq.html">
            FAQ
          </a>
        </li>
        <li
          class="uppercase text-gray-lighter mr-8 hover:text-gray-darker whitespace-no-wrap"
        >
          <a
            class="uppercase text-gray-lighter mr-8 hover:text-gray-darker font-semibold"
            href=""
          >
            Blog
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>
