---
---

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@font-face {
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NunitoSans-Light.ttf');
}

@font-face {
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/NunitoSans-SemiBold.ttf');
}

html {
  font-family: 'NunitoSans', sans-serif;
}

.btn {
  @apply py-3 px-6;
}

.btn__primary {
  @apply bg-primary text-white;
}

.input {
  @apply py-3 px-4 border border-l-4 border-primary text-sm;
  border-top-color: #dedede;
  border-bottom-color: #dedede;
  border-right-color: #dedede;
}
