---
---

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@font-face {
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NunitoSans-Light.ttf');
}

@font-face {
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/NunitoSans-SemiBold.ttf');
}

html {
  @apply text-base font-light;
  font-family: 'NunitoSans', sans-serif;
}

.bg__inverse {
  @apply bg-white-dark;
}

.btn {
  @apply py-3 px-6;
}

.btn__primary {
  @apply bg-primary text-white;
}

.input {
  @apply py-3 px-4 border border-l-4 border-white-darkest text-sm;
  border-left-color: #ff9e0b;
}

.previews {
  height: 600px;
  max-width: 78em;
}

.previews__mobile {
  left: 50%;
  top: 253px;
  width: 344px;
}

.previews__watch {
  left: 580px;
  top: 447px;
  width: 150px;
}

.previews__desktop {
  top: 120px;
  width: 852px;
}

.previews__ipad {
  height: 826px;
  width: 574px;
  top: 20px;
}

.previews__video {
  height: 600px;
}

.faq {
  @apply text-gray;
}

.faq h2 {
  @apply text-3xl font-normal text-gray-dark mb-6;
}

.faq p,
.faq ul {
  @apply mb-4;
}

.faq__code {
  @apply py-1 px-2 border border-gray-darkest bg-white-dark;
  font-family: monospace;
}

.faq__list {
  @apply list-disc text-primary text-left;
}

.faq__list li span {
  @apply text-gray;
}

@media (max-width: 640px) {
  .previews {
    height: 400px;
  }

  .previews__mobile {
    left: 14%;
    top: 5px;
  }

  .previews__watch {
    left: 10%;
    top: 235px;
  }

  .previews__video {
    height: 200px;
  }
}
