---
layout: default
---

<section
  class="bg__inverse border border-white-darkest border-t-0 border-l-0 border-r-0"
>
  <div class="w-11/12 max-w-6xl m-auto pb-20 pt-3 lg:w-9/12">
    <h1 class="text-4xl mb-1 text-center lg:text-5xl">
      Hey there, how can we help?
    </h1>
    <div class="mt-12">
      <form action="">
        <input
          type="text"
          class="input w-full mb-4 lg:mb-0"
          placeholder="Search the docs"
        />
      </form>
      <p class="text-gray-lighter text-center">
        Popular searches: <a class="text-primary" href="">Sync</a>,
        <a class="text-primary" href="">Bear Pro</a>,
        <a class="text-primary" href="">Migrate</a>
      </p>
    </div>
  </div>
</section>
{{ content }}
